<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" 
xmlns="http://java.sun.com/xml/ns/j2ee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_3.xsd">
	<display-name>TPHipodromo</display-name>
	
	<welcome-file-list>
		<welcome-file>TPHipodromo.html</welcome-file>
	</welcome-file-list>
	
	<listener>
    	<listener-class>ar.uba.fi.tecnicas.tphipodromo.persistencia.daos.hibernate.HibernateListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>XFire</servlet-name>
		<display-name>XFire Servlet</display-name>
		<servlet-class>org.codehaus.xfire.transport.http.XFireConfigurableServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ServicioCaballos</servlet-name>
		<display-name>ServicioCaballos</display-name>
		<servlet-class>ar.uba.fi.tecnicas.tphipodromo.servicios.impl.ServicioCaballosImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServicioCaballos</servlet-name>
		<url-pattern>/ServicioCaballos</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServicioCarreras</servlet-name>
		<display-name>ServicioCarreras</display-name>
		<servlet-class>ar.uba.fi.tecnicas.tphipodromo.servicios.impl.ServicioCarrerasImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServicioCarreras</servlet-name>
		<url-pattern>/ServicioCarreras</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServicioJockeys</servlet-name>
		<display-name>ServicioJockeys</display-name>
		<servlet-class>ar.uba.fi.tecnicas.tphipodromo.servicios.impl.ServicioJockeysImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServicioJockeys</servlet-name>
		<url-pattern>/ServicioJockeys</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServicioParticipantes</servlet-name>
		<display-name>ServicioParticipantes</display-name>
		<servlet-class>ar.uba.fi.tecnicas.tphipodromo.servicios.impl.ServicioParticipantesImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServicioParticipantes</servlet-name>
		<url-pattern>/ServicioParticipantes</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServicioApuestas</servlet-name>
		<display-name>ServicioApuestas</display-name>
		<servlet-class>ar.uba.fi.tecnicas.tphipodromo.servicios.impl.ServicioApuestasImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServicioApuestas</servlet-name>
		<url-pattern>/ServicioApuestas</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>XFire</servlet-name>
		<url-pattern>/servlet/XFireServlet/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>XFire</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

</web-app>
