/** Add css rules here for your application. */


.lbl-large {
	font-size: large;
}

.titulo {
	font-size: large;
	font-family: sans-serif;
	font-style: bold;
}

.listado {
	border-collapse: collapse;
}

td.listado-encabezado {
	border-bottom: 1px solid;
	font-weight: bold;
	padding: 2px 10px;
	background-color: #B0C4DE;
	text-align: center;
}

tr.listado-cuerpo-par {
	background-color: #F0F8FF;
}

tr.listado-cuerpo-impar {
	background-color: #FFFFFF;
}

td.listado-cuerpo {
	text-align: center;
}

.gwt-Hyperlink {
	cursor: pointer;
}

.detalle-clave {
	padding-right: 5px;
	font-weight: bold;
}

.boton-chico {
	background: none;
	border: none;
	font-size: small;
	cursor: hand;
	color: blue;
	font-decoration: underline;
}

.gwt-DecoratorPanel .middleCenter {
	height: 100%;
	width: 100%;
}

.campo-invalido {
	background: #CA2424;
	color: white;
}

.label_variable {
	color: #0A0A2A;
	font-style: bold;
}

.label_valor {
	color: black;
}
