/** Add css rules here for your application. */


.lbl-large {
	font-size: large;
}

.titulo {
	font-size: large;
}

.listado {
	border-collapse: collapse;
}

td.listado-encabezado {
	border-bottom: 1px solid;
	font-weight: bold;
	padding: 2px 10px;
	background-color: #f6de95;
}

tr.listado-cuerpo-par {
	background-color: #f6ebcb;
}

tr.listado-cuerpo-impar {
	background-color: #f6f2e8;
}

td.listado-cuerpo {
	text-align: center;
}

.gwt-Hyperlink {
	cursor: pointer;
}

.detalle-clave {
	padding-right: 5px;
	font-weight: bold;
}

.boton-chico {
	background: none;
	border: none;
	font-size: small;
	cursor: hand;
}

.gwt-DecoratorPanel .middleCenter {
	height: 100%;
	width: 100%;
}

.campo-invalido {
	background: red;
	color: white;
}
