<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="caballoDao" class="ar.uba.fi.tecnicas.tphipodromo.persistencia.daos.hibernate.CaballoDaoHibernate"/>
	<!--<bean id="apuestaDao" class="ar.uba.fi.tecnicas.tphipodromo.persistencia.daos.hibernate."/>-->
	<bean id="participanteDao" class="ar.uba.fi.tecnicas.tphipodromo.persistencia.daos.hibernate.ParticipanteDaoHibernate"/>
	<bean id="carreraDao" class="ar.uba.fi.tecnicas.tphipodromo.persistencia.daos.hibernate.CarreraDaoHibernate"/>
	<bean id="jockeyDao" class="ar.uba.fi.tecnicas.tphipodromo.persistencia.daos.hibernate.JockeyDaoHibernate"/>
	<bean id="resultadoDao" class="ar.uba.fi.tecnicas.tphipodromo.persistencia.daos.hibernate.ResultadoDaoHibernate"/>
</beans>